.counter-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.counter-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 45px;
    width: 400px;
}

.count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter-heading {
    font-size: 64px;
    font-family: "Roboto";
    text-align: center;
}

.button {
    height: 48px;
    width: 48px;
    font-size: 24px;
}

.count-text {
    font-size: 56px;
    font-weight: bold;
}